
body {
  margin: 0;
  overflow: hidden;
}
#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  font-family: monospace;
  padding: 1em;
  width: 25%;

}

#infos{
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  left: 2.5%;
  bottom: 2.5%;

}

a:link{
  color : gray;
}
a:visited{
  color : gray;
}
a:hover{
  color : white;
}
a:active{
  color : white;
}

h1{
  color:white;
}

#search{
  color: gray;
}
li{cursor: pointer;}
.li_on, .country_on{
  color: white;
}

#overlay_country {
  position: absolute;
  right: 2.5%;
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  font-family: monospace;
  padding: 1em;

}
